:root {
    --primary-color: #161d27;
    --secondary-color: #a19975;
    --light-color: #ffffff;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}

section {
    padding: 80px 0;
}

.text-light {
    color: var(--light-color) !important;
}

.btn {
    padding: 15px 20px;
}

.btn-primary {
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}

.btn-secondary {
    background-color: transparent;
}

.divider {
    border-top: 1px solid rgba(255,255,255,.2);
}

.navbar {
    background-color: var(--primary-color);
    min-height: 80px;
}

#hero {
    background-color: var(--primary-color);
}

footer {
    background-color: var(--primary-color);
    color: var(--light-color);
    padding: 30px 0;
}